@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #000000, #233554,rgb(24, 114, 107),rgb(141, 20, 141));
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 380px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.form-container {
    width: 100%;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2575fc;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6a11cb;
}

a {
    color: #2575fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }
}
